<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>login Page</title>
</head>
<body>
   <h1>LOGIN USER</h1>
   <form action="/user/login" method="post">
      <label>Enter valid Email</label>
      <input type="text" required name="email">
      <br>
      <hr>

      <label>Enter valid Password</label>
      <input type="password" required name="password">

      <br>
      <hr>
      <button type="text">Login</button>

   </form>
</body>
</html>